In [1]:
import pandas as pd
import random

In [2]:
municities = pd.read_json ('data/municipalities.json')

In [3]:
municities.head()

                                            features               type
0  {'type': 'Feature', 'properties': {'ID_0': 177...  FeatureCollection
1  {'type': 'Feature', 'properties': {'ID_0': 177...  FeatureCollection
2  {'type': 'Feature', 'properties': {'ID_0': 177...  FeatureCollection
3  {'type': 'Feature', 'properties': {'ID_0': 177...  FeatureCollection
4  {'type': 'Feature', 'properties': {'ID_0': 177...  FeatureCollection

In [4]:
dfobj = []
for index, row in municities.iterrows():
    dfobj.append(row['features'])

In [5]:
yeet = pd.DataFrame(dfobj)

In [6]:
yeet.head()

,geometry,properties,type
0,"{'type': 'Polygon', 'coordinates': [[[120.9679...","{'ID_0': 177, 'ISO': 'PHL', 'NAME_0': 'Philipp...",Feature
1,"{'type': 'Polygon', 'coordinates': [[[125.5772...","{'ID_0': 177, 'ISO': 'PHL', 'NAME_0': 'Philipp...",Feature
2,"{'type': 'Polygon', 'coordinates': [[[125.9108...","{'ID_0': 177, 'ISO': 'PHL', 'NAME_0': 'Philipp...",Feature
3,"{'type': 'MultiPolygon', 'coordinates': [[[[12...","{'ID_0': 177, 'ISO': 'PHL', 'NAME_0': 'Philipp...",Feature
4,"{'type': 'MultiPolygon', 'coordinates': [[[[12...","{'ID_0': 177, 'ISO': 'PHL', 'NAME_0': 'Philipp...",Feature

In [7]:
realdata = []
for step, deets in yeet.iterrows():
    anobj = {}
    anobj['name'] = deets['properties']['NAME_1']
    anobj['coords'] = deets['geometry']['coordinates']
    anobj['watervalue'] = random.random()*9821491419259
    realdata.append(anobj)
    print(deets['properties']['NAME_1'])

Abra
Agusan del Norte
Agusan del Sur
Aklan
Albay
Antique
Apayao
Aurora
Basilan
Bataan
Batanes
Batangas
Benguet
Biliran
Bohol
Bukidnon
Bulacan
Cagayan
Camarines Norte
Camarines Sur
Camiguin
Capiz
Catanduanes
Cavite
Cebu
Compostela Valley
Davao del Norte
Davao del Sur
Davao Oriental
Dinagat Islands
Eastern Samar
Guimaras
Ifugao
Ilocos Norte
Ilocos Sur
Iloilo
Isabela
Kalinga
La Union
Laguna
Lanao del Norte
Lanao del Sur
Leyte
Maguindanao
Marinduque
Masbate
Metropolitan Manila
Misamis Occidental
Misamis Oriental
Mountain Province
Negros Occidental
Negros Oriental
North Cotabato
Northern Samar
Nueva Ecija
Nueva Vizcaya
Occidental Mindoro
Oriental Mindoro
Palawan
Pampanga
Pangasinan
Quezon
Quirino
Rizal
Romblon
Samar
Sarangani
Shariff Kabunsuan
Siquijor
Sorsogon
South Cotabato
Southern Leyte
Sultan Kudarat
Sulu
Surigao del Norte
Surigao del Sur
Tarlac
Tawi-Tawi
Zambales
Zamboanga del Norte
Zamboanga del Sur
Zamboanga Sibugay

In [8]:
savecsv = pd.DataFrame(realdata)

In [9]:
savecsv.head()

,coords,name,watervalue
0,"[[[120.967949, 17.95706], [120.978027, 17.9494...",Abra,7.415753e+12
1,"[[[125.57724, 9.45679], [125.59687, 9.45509], ...",Agusan del Norte,1.247894e+11
2,"[[[125.910873, 8.85625], [125.914612, 8.85211]...",Agusan del Sur,3.660367e+12
3,"[[[[122.436668, 11.59833], [122.436668, 11.596...",Aklan,8.383423e+10
4,"[[[[123.287643, 13.04923], [123.286858, 13.049...",Albay,7.669790e+12

In [10]:
savecsv['name']

0                    Abra
1        Agusan del Norte
2          Agusan del Sur
3                   Aklan
4                   Albay
5                 Antique
6                  Apayao
7                  Aurora
8                 Basilan
9                  Bataan
10                Batanes
11               Batangas
12                Benguet
13                Biliran
14                  Bohol
15               Bukidnon
16                Bulacan
17                Cagayan
18        Camarines Norte
19          Camarines Sur
20               Camiguin
21                  Capiz
22            Catanduanes
23                 Cavite
24                   Cebu
25      Compostela Valley
26        Davao del Norte
27          Davao del Sur
28         Davao Oriental
29        Dinagat Islands
             ...
52         North Cotabato
53         Northern Samar
54            Nueva Ecija
55          Nueva Vizcaya
56     Occidental Mindoro
57       Oriental Mindoro
58                Palawan
59               Pampanga
60             Pangasinan
61                 Quezon
62                Quirino
63                  Rizal
64                Romblon
65                  Samar
66              Sarangani
67      Shariff Kabunsuan
68               Siquijor
69               Sorsogon
70         South Cotabato
71         Southern Leyte
72         Sultan Kudarat
73                   Sulu
74      Surigao del Norte
75        Surigao del Sur
76                 Tarlac
77              Tawi-Tawi
78               Zambales
79    Zamboanga del Norte
80      Zamboanga del Sur
81      Zamboanga Sibugay
Name: name, Length: 82, dtype: object

In [49]:
savecsv.to_csv('shit.csv')

In [11]:
yes = {"XD": 1, "X2": 2}

In [13]:
import json

In [14]:
st = json.dumps(yes)

In [15]:
st

'{"XD": 1, "X2": 2}'

In [16]:
xd = "XDD"

In [17]:
xd

'XDD'

In [18]:
from json.encoder import JSONEncoder

In [19]:
JSONEncoder().encode(yes)

'{"XD": 1, "X2": 2}'