In [1]:
import pandas as pd
import random

In [2]:
municities = pd.read_json ('data/municipalities.json')

In [3]:
municities.head()

                type                                           features
0  FeatureCollection  {'type': 'Feature', 'properties': {'ID_0': 177...
1  FeatureCollection  {'type': 'Feature', 'properties': {'ID_0': 177...
2  FeatureCollection  {'type': 'Feature', 'properties': {'ID_0': 177...
3  FeatureCollection  {'type': 'Feature', 'properties': {'ID_0': 177...
4  FeatureCollection  {'type': 'Feature', 'properties': {'ID_0': 177...

In [4]:
dfobj = []
for index, row in municities.iterrows():
    dfobj.append(row['features'])

In [5]:
yeet = pd.DataFrame(dfobj)

In [6]:
yeet.head()

,geometry,properties,type
0,"{'type': 'Polygon', 'coordinates': [[[120.9679...","{'ID_0': 177, 'ISO': 'PHL', 'NAME_0': 'Philipp...",Feature
1,"{'type': 'Polygon', 'coordinates': [[[125.5772...","{'ID_0': 177, 'ISO': 'PHL', 'NAME_0': 'Philipp...",Feature
2,"{'type': 'Polygon', 'coordinates': [[[125.9108...","{'ID_0': 177, 'ISO': 'PHL', 'NAME_0': 'Philipp...",Feature
3,"{'type': 'MultiPolygon', 'coordinates': [[[[12...","{'ID_0': 177, 'ISO': 'PHL', 'NAME_0': 'Philipp...",Feature
4,"{'type': 'MultiPolygon', 'coordinates': [[[[12...","{'ID_0': 177, 'ISO': 'PHL', 'NAME_0': 'Philipp...",Feature

In [12]:
for step, deets in yeet.iterrows():
    
    print(temp)

[120.967949, 17.95706]
[125.57724, 9.45679]
[125.910873, 8.85625]
[122.436668, 11.59833]
[123.287643, 13.04923]
[121.920853, 10.42076]
[121.33075, 17.85327]
[121.574753, 15.59574]
[121.968613, 6.28222]
[120.623627, 14.36788]
[121.813606, 20.334721]
[121.085281, 13.57333]
[120.79335, 16.919041]
[124.266319, 11.58278]
[123.921669, 9.48583]
[124.891457, 8.59255]
[121.002136, 14.737242]
[122.32695, 18.248171]
[123.106796, 14.047]
[123.058777, 13.49125]
[124.710121, 9.25738]
[122.881073, 11.44462]
[124.335548, 13.56307]
[120.615829, 14.26396]
[123.389549, 9.43467]
[125.832642, 7.26979]
[125.684753, 6.96153]
[125.397781, 5.43583]
[126.068848, 6.62813]
[125.642502, 9.92667]
[125.957024, 10.77604]
[122.59803, 10.32855]
[121.439423, 17.07999]
[120.415558, 17.924999]
[120.390953, 17.50012]
[122.773064, 10.93785]
[122.470398, 16.91995]
[121.442787, 17.664101]
[120.413719, 16.91852]
[121.556396, 14.41308]
[123.621933, 7.82859]
[124.01667, 7.63528]
[124.748917, 10.24652]
[124.229446, 7.17361]
[122.001541, 13.19066]
[122.984169, 11.71056]
[120.979721, 14.493055]
[123.777237, 8.06518]
[124.644493, 8.49252]
[121.554703, 17.1689]
[122.435219, 9.64382]
[123.271111, 9.08476]
[124.537987, 7.68187]
[124.099716, 12.29028]
[120.988037, 16.12756]
[121.341431, 16.746901]
[121.021942, 12.20611]
[121.435738, 12.20257]
[117.313889, 7.51417]
[120.616669, 14.8]
[119.865051, 15.8117]
[125.221657, 10.43444]
[121.499771, 16.63361]
[121.25219, 14.30791]
[121.936394, 12.09722]
[125.191673, 11.12556]
[124.396378, 6.213]
[124.196243, 7.19008]
[123.604477, 9.30056]
[124.089722, 12.54889]
[124.788612, 6.60905]
[125.073608, 9.89472]
[124.655609, 6.87044]
[120.801353, 5.45708]
[125.870209, 9.54064]
[126.417503, 7.96417]
[120.630074, 15.73335]
[119.466942, 4.58694]
[120.082848, 14.75048]
[122.094673, 7.53152]
[122.062233, 6.87278]
[122.84063, 7.27694]

In [24]:
realdata = []
for step, deets in yeet.iterrows():
    anobj = {}
    anobj['name'] = deets['properties']['NAME_1']
    temp = deets['geometry']['coordinates'] 
    while type(temp[0]) is not float:
        temp = temp[0]
        
    anobj['population'] = random.randint(1,10000)
    anobj['avg consump'] = random.randint(1000,10000)
    anobj['coords'] = temp
    anobj['watervalue'] = random.random()*9821491419259
    realdata.append(anobj)
    print(deets['properties']['NAME_1'])

Abra
Agusan del Norte
Agusan del Sur
Aklan
Albay
Antique
Apayao
Aurora
Basilan
Bataan
Batanes
Batangas
Benguet
Biliran
Bohol
Bukidnon
Bulacan
Cagayan
Camarines Norte
Camarines Sur
Camiguin
Capiz
Catanduanes
Cavite
Cebu
Compostela Valley
Davao del Norte
Davao del Sur
Davao Oriental
Dinagat Islands
Eastern Samar
Guimaras
Ifugao
Ilocos Norte
Ilocos Sur
Iloilo
Isabela
Kalinga
La Union
Laguna
Lanao del Norte
Lanao del Sur
Leyte
Maguindanao
Marinduque
Masbate
Metropolitan Manila
Misamis Occidental
Misamis Oriental
Mountain Province
Negros Occidental
Negros Oriental
North Cotabato
Northern Samar
Nueva Ecija
Nueva Vizcaya
Occidental Mindoro
Oriental Mindoro
Palawan
Pampanga
Pangasinan
Quezon
Quirino
Rizal
Romblon
Samar
Sarangani
Shariff Kabunsuan
Siquijor
Sorsogon
South Cotabato
Southern Leyte
Sultan Kudarat
Sulu
Surigao del Norte
Surigao del Sur
Tarlac
Tawi-Tawi
Zambales
Zamboanga del Norte
Zamboanga del Sur
Zamboanga Sibugay

TypeError: list indices must be integers or slices, not str

In [28]:
savecsv = pd.DataFrame(realdata)

In [29]:
savecsv.head()

,avg consump,coords,name,population,watervalue
0,1.474,"[120.967949, 17.95706]",Abra,4640,9.748755e+12
1,3.547,"[125.57724, 9.45679]",Agusan del Norte,8075,9.976598e+11
2,2.331,"[125.910873, 8.85625]",Agusan del Sur,7981,5.194578e+11
3,2.137,"[122.436668, 11.59833]",Aklan,9650,4.306323e+12
4,3.853,"[123.287643, 13.04923]",Albay,1360,7.539642e+12

In [23]:
savecsv.to_csv('data.csv', index= False)